/* || General setup */
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #fcb477;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || Navigation Layout */
ul {
  padding: 0;                 /* Remove default padding */
  list-style-type: none;      /* Remove default bullets */
  display: flex;              /* Use flexbox to align items horizontally */
  justify-content: left;      /* Align the items to the left */
}

li {
  margin-right: 20px;         /* Add space between the menu items */
}

a {
  text-decoration: none;      /* Remove underline from links */
  color: black;               /* Set the text color to black */
  font-size: 1.6rem;          /* Adjust the font size of the menu items */
  text-transform: uppercase;  /* Make text uppercase */
}

span {
  font-size: 1.6rem;          /* Make the "Home" span the same size */
  text-transform: uppercase;  /* Make text uppercase */
}
