/* || General setup */
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #fcb477;
}


body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || Header layout */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container {
    text-align: center;
}

header h1 {
  font-size: 6rem;            
  margin: 20px auto;                 
  text-transform: uppercase; 
}

header img {
  height: 6rem;               
  width: auto;                
  margin-left: 20px;          
  display: block;
  object-fit: contain;
}

h2 {
  font-size: 4rem; 
  margin: 20px 0;  
  text-transform: uppercase;  
  color: #333;
}

p {
  font-size: 2.5rem;  
  margin: 10px 0;  
  line-height: 1.5;  
  color: #444;  
}
  
/* || Navigation Layout */
ul {
  padding: 0;                 
  list-style-type: none;      
  display: flex;              
  justify-content: left;  
  gap: 20px;
}

li {
  margin-right: 20px;         /* Add space between the menu items */
}

a {
  text-decoration: underline;     
  color: black;               
  font-size: 2rem;          
  text-transform: uppercase;  
}

span {
  font-size: 2rem;          /* Make the "Home" span the same size */
  text-transform: uppercase;  /* Make text uppercase */
}
